///////////////////////General Settings////////////////////////////////////////////
html{
  overflow-x:hidden;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: initial;

  // transition-duration: 0.55s;

}

//header

.topbar {
  padding-top: 1.875rem;
  background-color: #293c43 !important;
  text-align: center;
  display: block;
  padding: 1rem 0;
  color: $white;
  font-size: 16px;
  line-height: 30px;
  margin: 0;

  .label{
    vertical-align: middle;
    cursor: pointer;

    &:hover{
      color: $purple-light;
    }
  }
  a{
    color: $white;
  }
}

nav > a.item:not(#signup-btn){
  // background-color: red;
  transition-duration: 0.55s;
  padding:0.75rem 0.2rem;
  margin: 0 1.35rem;
    &:hover{
      color: $purple-light;
      border-bottom: 1px solid;
      //font-weight: 600;
    }
}

//on sticky header
#signup-btn{  
  color: $white;
  width: 106px;
  padding: 10px 0px;
  transition-duration: 0.55s;
  
  background-color: $orange-dark;

   &:hover{
      background-color: $purple-dark;
   }
}

////navigation br with logo////
.navbar{
  background-color: $white;
  height: 78px !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.35);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
 .content{
    max-width: 83%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    .logo{
      background: asset-url("logo.png");
      // background-size: contain;
      width: 150px;
      height: 54px;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      transition: width 300ms ease-in-out;
    }
    nav{
      .ui.button{
        color: $white;
        margin: 8px 0px;
      }
    }
    
    .ui.list,.mobile_menu{
      float: right;
      margin: auto 0 !important;
      text-align: center;
    }
  }
}

.navbar.fixed.top{ //styles the sticky header on scrolling
  background-color: rgba(254,254,254,1.0);
  height: 50px !important;
  padding: 0 0.625rem;
  box-shadow: 0 0.063rem 0.188rem 0 rgba(0,0,0,0.5);
  .content {
    padding: 0.2rem 0;
    .logo{
      background: asset-url("o.png");
      background-size: contain;
      height: 35px;
      width: 35px;
      background-repeat: no-repeat;
      display: inline-block;
      margin-top: 5px;
      transition: all 300ms ease-in-out;
      }
      nav{
        //padding-top: 4px;
        .ui.button{
          margin: 4px 0px;
        }
      }
  }
}
/////////

.mobile_menu{
  padding-bottom: 0 !important;
  .ui.item.menu{
    border-radius: 0;
  }
}


.ui.styled.accordion{
  width: inherit;
}

.ui.styled.accordion > .title{
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.5rem;
}


.tabs{
  min-height: 20.000rem;
}



.ui.icon.menu{
  margin: 0 !important;
  background-color: inherit;
  box-shadow: none !important;
  span{
    font-size: 0.85rem;
  }


  .item{
    padding: 1.250rem 0;
  }
}



.icons.grey.column.row{
 margin: 1.563rem;
 .ui.labeled.icon.menu > .item > .icon{
  font-size: 2.500rem !important;
 }
 li h4{
  padding: 0 !important;
 }
}


footer{
  padding: 1rem 5rem;
  background-color: #2f2a2e;
  .ui.list{
     padding: 0.9rem 0 !important;

    .item{
      margin: 0;
      vertical-align: middle !important;
      color: $white;
    }
    h3{
      font-size: 1.875rem !important;
      padding-right: 1.25rem !important;
    }
    
    a{
      font-size: 1rem !important;
      color: rgba(255,255,255,0.4) !important;
      padding: 0 0.5rem !important;
    }
    a:hover{
      color: $white !important;
    }
  } 
  .right.ui.list{
    float: right;
    padding: 1.5rem 0 !important;
    a{
      font-size: 0.75rem !important;
      padding: 0 !important;
    }
    i{
       background-color: #CCCCCC !important;
       color: #333333 !important;
    }
  }
}


.ui.fluid.accordion, .ui.fluid.accordion .accordion {//fixes semantic overide on ui.styled.accordion
  width: 100%;
}


///////////////////////////////General Settings/////////////////////////////////////////////////////

///////////////////////////////////homepage/////////////////////////////////////////////////////////


///home banner///
.home-banner{
  background: asset-url("topbanner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  transform:none;
  min-height: 74vh;

  ul{
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
    p{
      margin: 0;
    }
  }
}

  .banner-text{ // homepage banner
    
    padding-top: 5vh !important;
    margin-top: 0 !important;
    padding-bottom: 1rem !important;


    .hero-text{

      padding-top: 4rem;
      font-weight: 100;
      color: $purple-dark;
      line-height: 1.2em !important;
      
      strong{
        color: $purple-light;
      }

    }

    .strapline{

      padding: 0rem 0rem 1.5rem 0rem !important;
      color: $purple-dark;
      // 0rem 0rem 1.5rem 0rem,!important;
    }

    .by-line{
      margin-top: 2.5em !important;

      p{
        font-size: 1.1em !important;
      }
      
      // li > .item{
      //   font-size: 1.3em !important;
      // }

    }

    #big-signup{

      transition-duration: 0.55s;
      background-color: $orange-dark;
      margin: 0.9375rem 0;

      &:hover{
        background-color: $purple-dark;
      }

    }

  }
  ///////

//features////

.feature_header{
  h3{
    color: $purple-light;
    font-size: 2rem !important;
  }
}

#features-list{
  
  .feature{
    margin: 0em;
    padding: 1.5em 0em 0em;
   // min-height: 30rem;
    position: relative;

    .feature_text{
      padding-top: 0.5rem;
      vertical-align: bottom;
      margin: 0;

      .feature_image{
        padding-bottom: 0;
        vertical-align: bottom;
      }

      h3{
        color: $orange-dark;
        font-size: 2rem !important;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        padding-top: 5vw;
      }
    }
  }
  
}
//////

///products////



////clients////
#clients{
  .tab_menu.tab_to_accordion{ //removes margin on clientbox tab menu 
    margin: 0;
  }
  .ui.pointing.menu .active.item:after {
    top: 98%;
  }
  .message1{
      padding: 2rem 1rem;
      
      h3{
        font-size: 2rem !important;
        padding-top: 1rem;
      }

      p{
        text-align: center;
        color: $purple-light;
      }
    }
  .clientbox{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform:none;
    min-height: 77vh;
  }

  .clientbox_info{
    // color: $white;
    
    margin-top: 8em;

    .casestudy {
      .hidden {
        display: none;
      }
    }

    .account_stats {
      > icon{
        font-size: 2.5em !important;
        }
      h4{
        margin: 0px !important;
        padding: 0px !important;
      }
    }

    h4,h2,h3,p {
      color: $white !important;
    }

    p{
      line-height: 1.7em;
      text-shadow: 1px 1px 3px #333;
      // font-size: 1em !important;
    }
  }  

  #heineken{
    background:url("../images/Heineken-c3bd9453d1b0970e5fb3f79c6b60ea63.jpg");
  }

  #castle{
    background-image: asset-url("castle.jpg");
  }

  #coke{
    background-image: asset-url("coke.jpg");
    
    .clientbox_info{
      // h4,p {
      //   color: #333 !important;
      // }
      // h2{
      //   color: #ff0000 !important;
      // }
    }
  }

  #cheki{
    background-image: asset-url("cheki.jpg");
  }

  #chase{
    background-image: asset-url("chase.jpg");
  }
}
//////
///text that divides sections////

.text_dividers{
  background-color: $grey;
  margin-top: 0 !important;
  margin-bottom: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;

  h4{
      font-weight: 600;
      margin: 0 !important;
  }
}
///////////
// Company Stats

.company_stats{
    background-color: #eee;
    padding: 4rem 0rem;
    margin: 0rem !important;

    h3{
      font-size: 2rem !important;
    }
}
//////////

//////

//Why you need ongair
#why{ 
  padding: 10em 0em;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
}

///////

//prices///
#prices{ 
  padding: 4rem 0;
  background-color: white;
  // margin-top: 0.625rem;
  #details2{
    padding: 0rem 0 3rem;
    h3{
      font-size: 2rem !important
    }
    // margin-top: 1.875rem;
    // margin-bottom: 1.875rem;
  }
  ul li{
    vertical-align: bottom;
    .price_info{
      background-color: #e6e6e6;
      margin: 0 1.250rem 1.250rem;
      min-height: 20.000rem;

      .statistic{
        padding: 0.313rem 0 0.938rem;
      }
      .purple_pricetag {
      padding: 4% 0;
      margin: 4% -1em;
      font-size: 1rem;
      background-color: $purple;
      color: $white;
      }
    }
    .price_info:hover{
       box-shadow: 0.063rem 0.063rem 0 0.125rem rgba(0,0,0,0.15);
      -webkit-transition: all ease-in-out;
      -moz-transition: all ease-in-out;
      -o-transition: all ease-in-out;
      -ms-transition: all ease-in-out;
      transition: all ease-in-out;

    }
    .price_more_info{
      margin: 0 1.25rem;
      min-height: 14.688rem;
      p{
        margin: 0.313rem;
      }
    }
  }
}
/////
///brands///
#brands{
  //margin: 0 !important;
  padding-top: 4rem;
  padding-bottom: 1rem;

  h3{
    font-size: 2rem !important;
  }

  .brands .column{
    vertical-align: middle !important;
  }
}
///

///////////////////////////////////homepage////////////////////////////////////////////////////////////////////

///////////////////////////////////zendesk////////////////////////////////////////////////////////////////////

//hero


#hero{
  background: asset-url("zendesk-hero.png");
  min-height: 448px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform:none;
  h5{
    color: $pink;
    font-size: 1.2em;
    font-weight: 400;
    padding-bottom: 0.5rem;
  }
  h3{
    font-weight: 400 !important;
    font-size: 2.5em !important;
    color: #713388;
  }
}


//pricing
#why-ongair, #pricing{ //zendesk pricing
  padding-top: 7%;

   h5{
      color: $pink;
      font-size: 1.2em;
      font-weight: 400;
      padding-bottom: 0.5rem;
    }
    h3{
      font-weight: 400 !important;
      color: $purple;
      font-size: 2em !important;
    }
}

.zendesk_image_rows{// allows zendesk images to sit on the dividers
  
  padding-bottom: 0 !important; 

}

.home_site_zendesk{// allows zendesk images to sit on the dividers
  .ui.divider{
    margin-top: 0;
  }
}

.zendesk-clients{
  padding-top: 7vh;
  h4{
    color: #2f3588;
  }
  .brands .column{
    min-width: 100px;
  }
}

#signup{// zendesk sign up section
  padding-top: 5rem;
  padding-bottom: 2rem;

 h2{
  font-size: 2rem !important;
  color: #2f3588;
 }
}
///////////////////////////////////zendesk////////////////////////////////////////////////////////////////////

///////////////////////////////////Account activation with steps////////////////////////////////////////

.user_details.users {
  background-color: #ffffff;

  .signup_segment{
    margin-top: 54px;
    p span{
    font-weight: bold;
    }
    .italic{
      font-style: italic;
    }
    h1{
      font-size: 300px;
    }
  }
}
///////////////////////////////////Account activation with steps////////////////////////////////////////
