
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: initial;

}
  sup {
  font-size: 56%;
  }
  sub{
    font-size: 50%;
  }
h1,h2,h3,p,a{
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

h1{
 
  font-size: 4rem !important;
  line-height: 4rem !important;
  font-weight: 100 !important;
}

h2{
  font-weight: 500  !important;
  font-size: 3.0rem !important;
  color: $pink;
}

h3{  
font-weight: 100 !important;
font-size: 3.0rem !important;
margin: 0;
}

h4{  
font-weight: 500 !important;
font-size: 1.5rem !important;
padding: 1.25rem 2rem !important;
color: $pink;
}
h5{  
font-weight: 600 !important;
font-size: 1.125rem !important;

margin: 0;
}
p{
  font-size: 0.9375rem !important;
  font-weight: 400;
  line-height: 1.5;

}
.button{
 
  margin: 0.9375rem 0 !important;
}
.ui.styled.accordion{
  width: inherit;
}

.topbar {
  padding-top: 1.875rem;
  background-color: #293c43 !important;
  text-align: center;
  display: block;
  padding: 1rem 0;
    color: #FFFFFF;
   font-size: 16px;
   margin: 0;
    .label{
    vertical-align: middle;
  }
}
.ui.sticky.navbar{
  background-color: #FFFFFF;
 .content{
    max-width: 83%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    
    .ui.list,.mobile_menu{
      float: right;
      margin: auto 0 !important;
      text-align: center; 
     
    }
  }
}
.column.mobile.only .ui.menu{
  .item{
    font-size: 0.9rem;
  }
}
.ui.sticky.navbar.fixed.top{
  background-color: rgba(254,254,254,0.8);
  padding: 0 0.625rem;
  box-shadow: 0 0.063rem 0.188rem 0 rgba(0,0,0,0.5);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}


  #banner{
  background: url("../images/topbanner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  transform:none;
  min-height: 28.750rem;
  ul{
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;

    p{
      margin: 0;
    }
  }
  }
  .tabs{
    min-height: 20.000rem;
  }
.center.aligned.grey.grid{
  background-color: #c8c8c8;
  margin: 0;

  h4{
      font-weight: 600;
      margin: 0 !important;
  }
}

.ui.item.menu, .ui.item.menu .item{
  margin-bottom: 0;
}
.ui.icon.menu{
  margin: 0 !important;
  background-color: inherit;
  box-shadow: none !important;
  span{
    font-size: 0.85rem;
  }


  .item{
    padding: 1.250rem 0;
  }
}
.center.aligned.column.row{
  h4{
      font-weight: 600;
  }
}
.dashboard.column.row {
  max-height: 25rem;
  overflow: hidden;
}

.centered.column.row.message1{
  padding: 1.250rem 0;
}

#heineken{
  background: url("../images/Heineken.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform:none;
  min-height: 28.750rem;
  .fa-whatsapp,h2,h4,p{
    color: #FFFFFF;
  }
  h4{
    padding: 0 !important;
  }


}
.icons.grey.column.row{
 margin: 1.563rem;
 .ui.labeled.icon.menu > .item > .icon{
  font-size: 2.500rem !important;
 }
 li h4{
  padding: 0 !important;
 }
}

#details2{
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

#prices{
  margin-top: 0.625rem;
}
#prices{
  ul li{
    vertical-align: bottom;
    .grey.center.aligned.column{
      background-color: #e6e6e6;
      margin: 0 1.250rem 1.250rem;
      min-height: 20.000rem;

      .statistic{
        padding: 0.313rem 0 0.938rem
      }
      .pink.button{
        background-color: $pink;
      }
      .pink.button:hover{
        background-color: $hoverpink;
      }
      .ui.purple.sixteen.wide.column {
      padding: 2% 0;
      margin: 4% -7%;
      font-size: 1rem;
      }
    }
    .grey.center.aligned.column:hover{
       box-shadow: 0.063rem 0.063rem 0 0.125rem rgba(0,0,0,0.15);
      -webkit-transition: all ease-in-out;
      -moz-transition: all ease-in-out;
      -o-transition: all ease-in-out;
      -ms-transition: all ease-in-out;
      transition: all ease-in-out;

    }
  }
}
.three.wide.center.aligned.column{
  margin: 0 1.25rem;
  min-height: 14.688rem;
  p{
    margin: 0.313rem;
  }
}
.brands{
  margin: 0 !important;
  .column{
    vertical-align: middle !important;
  }
}
footer{
  min-height: 5rem;
  padding: 1.125rem 0;
  background-color: #333333;
  .ui.list{
     padding: 0.9rem 0 !important;

    .item{
      margin: 0;
      vertical-align: middle !important;
      color: #FFFFFF;
    }
    h3{
      font-size: 1.875rem !important;
      padding-right: 1.25rem !important;
    }
    a{
      font-size: 1rem !important;
      color: rgba(255,255,255,0.4) !important;
      padding: 0 0.5rem !important;
    }
    a:hover{
      color: #FFFFFF !important;
    }
  } 
  .right.ui.list{
    float: right;
    padding: 1.5rem 0 !important;
    a{
      font-size: 0.75rem !important;
      padding: 0 !important;
    }
    i{
       background-color: #CCCCCC !important;
       color: #333333 !important;
    }
  }
}