
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1,h2,h3,p,a{
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

h1{
 
  font-size: 4rem !important;
  line-height: 4rem !important;
  font-weight: 100 !important;
  margin: 2rem 0px;
}

h2{
  font-weight: 500  !important;
  font-size: 3.0rem !important;
  margin-top: .5em;
  margin-bottom: .75em;
  margin: 0;
  color: $pink;
}

h3{  
font-weight: 100 !important;
font-size: 3.0rem !important;
margin-top: .5em;
margin-bottom: .75em;
margin: 0;
}

h4{  
font-weight: 500 !important;
font-size: 1.5rem !important;
margin-top: .5em;
margin-bottom: .75em;
margin: 0;
color: $pink;
}
h5{  
font-weight: 600 !important;
font-size: 18px !important;
margin-top: .5em;
margin-bottom: .75em;
margin: 0;
}
p{
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5;
}
.button{
  color: #ffffff !important;
}

.black.centered.row {
  padding-top: 30px;
  p{
  display: inline-block;
  }
}
.ui.page.left.aligned.grid{
  //background-image: url("../images/banner.png");
  background-size: cover;
 // min-height: 550px;
  margin-bottom: 10px;
  .button{
    margin:30px 0 15px;
    background-color: $pink;
  }
}
.center.aligned.grey.column.row{
  background-color: #c8c8c8;
   .button{
    background-color: $pink;
  }
  h4{
      font-weight: 600;
  }
}
.ui.icon.menu{
  margin: 0 !important;
  background-color: inherit;
  box-shadow: none !important;


  .item{
    padding: 20px 0px;
  }
}
.center.aligned.column.row{
  h4{
      font-weight: 600;
  }
}
.dashboard.column.row {
  max-height: 400px;
  overflow: hidden;
}
.icons.center.aligned.grey.column.row{
  font-size: none !important;
  
  h4{
    padding:0 !important;
  }

}
.details.centered.column.row{
  .item
  {
    padding: 5px 0;
  }
}
.price.grey.center.aligned.column{
  background-color: #e6e6e6;
  margin: 0 20px 20px;
  .statistic{
    padding: 5px 0 15px
  }
  .pink.button{
    background-color: $pink;
  }
}
.price.center.aligned.column{
  margin: 0 20px;
}
.purple.centered.row{
  margin-top: 20px;
  min-height: 50px;
}