@media only screen and (max-width: 1900px){
 .title{
 	display: none;
 }

}//max width 1500

@media only screen and (max-width: 1280px){
	  

}//Max width 1280


@media only screen and (max-width: 1100px){
	 
 
}//Max width 1100


@media only screen and (max-width: 992px){
	 
	#products{
  #analytics{
    position: relative;

    #one,#two,#three,#four{
      display: none;
    }
  }
}

}//max width 960

@media only screen and (max-width: 768px){
	.home_site_zendesk{
		.ui.divider{
			padding-bottom: 30px;
		}

	}

	#why-ongair, #pricing{
		padding-top: 2rem !important;
   .column{
   	padding-top: 2rem !important;
   	padding-bottom: 0 !important;
   }
}

	.navbar{
		.ui.list{
      		float: right;
    	}
	}
	

	#details1{
		ul{
			li{
				width: 70% !important;
				text-align: center !important;
				margin: 1.875rem auto !important;
				box-shadow: 0 0 0 0.063rem rgba(39, 41, 43, 0.15), 0 0.063rem 0.125rem 0 rgba(0, 0, 0, 0.05) !important;
				border-radius: 0.2857rem;
				padding: 1em 1em !important;

				.column{
					text-align: center;
				}
			}
		}
	}

	


	.brands li{
		img{
			margin-top: 1rem !important;
			margin-bottom: 1rem !important;
		}
	}

	footer{
		min-height: 5rem;
		padding: 1.125rem 0;
		background-color: #333333;
	 	.ui.list{
		    padding: 1.25rem 1.875rem !important;
		    display: table !important;

		    .item{
			    display: list-item !important;
			    margin-left: 0 !important; 
		    }
	    }
	 
		.right.ui.list{
			padding:0 1.875rem !important;
			float: left;
		}
	}
}//max width 768

@media only screen and (max-width: 500px){
	.clientbox{
	 .item {
  		width: 50%;
  		}
	}
}//max width 500


@media only screen and (max-width: 400px){

	#banner .column.row{
  		text-align: center;
	}
	#products{
	  max-height: none;
	}
	.title{
		display: block;
		text-align: center;
	}
	#heineken,#chase,#nivea,#castle,#cheki{
		.eight.wide.column{
			text-align: center;
		}
	}

  	.ui.labeled.large.icon.borderless.fluid.nine.item.menu{
		display: none;
	}

	.ui.item.center.aligned.pointing.borderless.menu {
  		display: none;
  	}
 	 
 	.centered.column.row.message1{
		padding: 1.25rem 1rem;
	}

	section.icons.grey.column.row{
		.item{
			width: 50%;
		}
	}

	
}//max 400px

@media only screen and (max-width: 330px){
	
}//max 330px


/* Print Styles */
/* ==================================================== */
 
@media print {

	* {
		background: transparent !important; 
		color: black !important; 
		text-shadow: none !important; 
		filter:none !important; 
		-ms-filter: none !important; 
	} 
	
	a, 
	a:visited { 
		text-decoration: underline; 
	}
	
	a[href]:after { 
		content: " (" attr(href) ")"; 
	}
	
	abbr[title]:after { 
		content: " (" attr(title) ")"; 
	}
	
	.ir a:after, 
	a[href^="javascript:"]:after, 
	a[href^="#"]:after { 
		content: ""; 
	} 
	
	pre, 
	blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	}
	
	thead { 
		display: table-header-group; 
	}
	
	tr, 
	img { 
		page-break-inside: avoid; 
	}
	
	img { 
		max-width: 100% !important; 
	}
	
	@page { 
		margin: 0.5cm; 
	}
	
	p, 
	h2, 
	h3 { 
		orphans: 3; 
		widows: 3; 
	}
	
	h2, 
	h3 { 
		page-break-after: avoid; 
	}
	
}