.application {

	.top.banner {
	  background: #fff asset-url("stripe.png") top left repeat-x; 
	}

	.notification {
		margin-left: 1.5%;
		border-radius: 0px;
		font-size: .9em;
	}

	.hidden_audio {
		display: none;
	}
	
	.ui.page.grid {
		padding: 0%;
	}

	.ui.menu, .ui.segment {
		border-radius: 0px;
	}

	.ui.menu.vertical {
		box-shadow: none;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}

	.ui.vertical.menu .dropdown.item .menu .item {
		font-size: .9rem;
	}

	.ui.labeled.icon.input:not(.left) > .icon {
		margin-right: 0.05em;
	}

	.ui.search input {
		border-radius: 0px;
	}

	.ui.vertical.menu {
		max-width: 100%;
		width: auto;
	}

	.ui.dividing.header.thin {
		border-bottom-width: 1px;
		padding-bottom: .5rem;
	}

	.ui.table thead th:first-child,
	.ui.table thead th:last-child {
		border-radius: 0px;
	}

	.ui.label.multimedia {
		font-size: 0.8em;
	}

	.ui.button {
		border-radius: 0px;
	}

	.content {
		a.header_link {		
			i.icon {
				font-size: .7em;
			}	
		}
	}

	.inbox.selection.list {
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		border-right: 1px solid rgba(0,0,0,0.1);
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	.ui.avatar.images .image, 
	.ui.avatar.images img, 
	.ui.avatar.image img, 
	.ui.avatar.image {
		width: 2em;
		height: 2em;

		&.big {
			width: 3em;
			height: 3em;
		}
	}


	.item.conversation {
		.details {
			display: inline-block;

			
			.name {
				color: #333;
			}	
			
			.message {
				display: block;
				width: 280px;
				height: 1rem;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}

	.item.conversation.unread {
		font-weight: 700;
	}

	.metadata {
		time {
			float: right;
		}
	}

	.comments {
		.comment.incoming {
			min-height: 48px;
		}
	}

	.ui.mini.modal {
		width: 45%;
		margin-left: -20%;
	}
}

.application.contacts {
	.pagination {
		a {
			text-align: center;
			text-decoration: none;
			display: block;
			margin-top: .5em;
		}
	}
}


.application.contacts,
.application.distribution_lists,
.application.groups {	
	.thin.column {
		width: 1.5%;
	}
}

.ui.mini.modal {
	form > .content {
		display: table;
		width: 100%;
		position: relative;
		padding: 2em;
		background-color: #F4F4F4;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.application.home.conversation {
	ul.ui.list, ol.ui.list, .ui.list {
		margin: 0px;
	}

	.ui.header {
		margin-bottom: 0px;
	}
}

.application.search {
	.list {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
}