.messages.media {

	.audio.item {
		min-height: 50px;
		width: 475px;
	}

	.video.item {
		width: 660px;
	}

	.image.item {
		img {
			width: 300px;
			height: 200px;
		}
	}

	.item {
		.content {
			.avatar {
				img {
					width: 3em;
					height: 3em;
					border-radius: 500px;
				}
			}

			.metadata {
				display: inline-block;
				float: right;
				color: rgba(0, 0, 0, 0.4);
			}
		}
	}
}

.assets {
	ul.ui.items.audio {
		.item {
			min-height: 50px;
			width: 500px;
			.content {
				padding: 0px;	
			}
			
		}
	}

	.ui.items .item > .image {
		background-color: transparent;
	}
}