html, body.locations, body.locations .main {
	height: 100%;
}

.locations {

	.map.avatar {
		width: 40px;
		border-radius: 50em;
	}

	.bg {
		margin-bottom: 0px;
	}

	.ui.items > .item .avatar {
		max-width: 50px;
	}

	#map {
		height: 100%;
	}

	.item.location {
		width: 300px;
		min-height: 100px;

		.content {
			position: relative;

			.ext {
				// padding: 0px;
				color: rgba(0, 0, 0, 0.25);
			}

			.name {
				color: #009FDA;
			}
		}

		.preview {
			width: 100px;
			display: inline-block;
		}

		.description {
			display: inline-block;
			width: 170px; 
			margin-left: 7px;
			min-height: 100px;
			float: right;
		}
	}
}